<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <input type="text" name="name" placeholder="enter your movie name"><br><br>
   <input type="text" name="desc" placeholder=" movie description"><br><br>
   <input type="text" name="year" placeholder="enter the movie year"><br><br>
   <input type="file" name="img">
    <input type="submit" value="submit">


</form>


</body>
{% endblock %}
</html>